@import './common.sass'

.container
  max-width: 1500px


.main-card
  ul
    padding: 10px 0 20px 80px
  li
    display: inline
    +font(600, 12px, 166.4%, $color-primary)

  li:nth-of-type(4)
    +font(300, 12px, 20px, $color-primary)

  a
    text-decoration: none
    color: $color-primary

.card__list-dash
    display: inline-block
    width: 25px
    height: 0.7px
    background-color: $color-primary
    vertical-align: middle
    margin: 0 5px

.card__content
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-auto-rows: 840px 455px 455px
  


.card__item:nth-of-type(1)
  grid-column: 1/ span 2
  width: 720px


.card__item:nth-of-type(2)
  grid-column: 1/2
  grid-row: 2/3
 
.card__item:nth-of-type(3)
  grid-column: 2/3
  grid-row: 2/3
  justify-self: flex-start

.card__item:nth-of-type(4)
  grid-column: 1/2
  grid-row: 3/4

.card__item:nth-of-type(5)
  grid-column: 2/3
  grid-row: 3/4
  justify-self: flex-start

.card__item:nth-of-type(6)
  grid-column: 3/ span 2
  padding-left: 78px

.card__text
  h2
    font-family: $font-title
    font-weight: 400
    font-size: 18px
    line-height: 151.3%
    text-transform: uppercase
    color: $color-primary
    width: 70%
    margin-bottom: 40px

  p:nth-of-type(2)
    +font(300, 12px, 20px, $color-primary)
    text-decoration: underline
    cursor: pointer
    margin-bottom: 10px

  p:nth-of-type(3)
    +font(700, 14px, 166.2%, $color-primary)
    margin-bottom: 10px

.card__absense
  display: block
  +font(300, 12px, 20px, $color-red)
  margin-bottom: 10px

.none-visible
  visibility: hidden
  


.etnodim
    +font(400, 10px, 12px, #B5B5B5)
    text-transform: uppercase



.card__counter-item
  display: flex
  align-items: center
  gap: 47px
  margin-bottom: 20px

  p:nth-of-type(1)
    +font(300, 14px, 166.19%, $color-primary)
    

.card__counter-box
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  

.card__minus
  cursor: pointer
  background-color: #F4F4F4
  width: 21px

  div
    display: flex
    justify-content: center

.card__counter
  border: none
  outline: none
  width: 10px
  justify-self: center
 

.card__plus
  cursor: pointer
  background-color: #F4F4F4
  width: 21px

  div
    display: flex
    justify-content: center

.card__size-box
  margin-bottom: 5px

  label
    display: none

  input[type='radio']
    appearance: none
   

  input[type='radio']::after
    font-family: 'Raleway'
    font-size: 14px
    line-height: 166.19%
    font-feature-settings: 'pnum' on, 'lnum' on
    color: #000000
    margin-right: 15px
    cursor: pointer
  
  input[type='radio']:nth-of-type(1)::after
    content: '32 | XXS'

  input[type='radio']:nth-of-type(2)::after
    content: '34 | XS'

  input[type='radio']:nth-of-type(3)::after
    content: '36 | S'

  input[type='radio']:nth-of-type(4)::after
    content: '38 | M'

  input[type='radio']:nth-of-type(5)::after
    content: '40 | L'

  input[type='radio']:nth-of-type(6)::after
    content: '42 | XL'

  input[type='radio']:checked
    font-weight: 700

@mixin btn-content($content)
  content: $content
 
.card__btn
   margin-bottom: 70px
   padding: 17px 79px

.card__btn::after
  +btn-content('купити')

.btn_absense
   margin-bottom: 70px
   padding: 17px 17px

.btn_absense::after
  +btn-content('сповістити про наявність')


.card__heading-block
  display: grid
  grid-template-columns: 95% 5%
  width: 65%

.card__dash
  width: 11px
  height: 1px
  background-color: $color-primary
  cursor: pointer

.card__description
   h3
    +font(700, 16px, 19px, $color-primary)
    margin-bottom: 15px
    
   p:nth-of-type(1)
    +font(300, 12px, 20px, $color-primary)
    width: 65%
    margin-bottom: 15px

.border-top
   width: 65%
   border-top: 0.7px solid $color-primary

   h3
     margin: 15px 0

   div
     display: grid
     grid-template-columns: 95% 5%

   img
     align-self: center
     cursor: pointer

.description:last-of-type
   margin-bottom: 0

.interest
  padding: 90px 0 0 80px

  div:nth-child(4)
    margin-bottom: -20px

.interest__cards
  margin-bottom: 30px

.interest__card:nth-of-type(3) div 
  background-image: url(./card-images/interest-3-background.png)
  background-repeat: no-repeat
  background-size: cover
  width: 325px
  height: 415px
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 10px

.interest__card:nth-of-type(4)
  overflow: hidden

  p:nth-of-type(1)
    white-space: nowrap
    overflow: hidden
    text-overflow: clip

.btn-wrapper
  display: grid
  grid-template-columns: repeat(4, 1fr)
  margin-bottom: 90px
  padding-right: 80px

.interest__btn
  border: none
  background: rgba(218, 31, 57, 0.3)
  height: 3px
  cursor: pointer


.btn_active
  background: $color-red

.btn_non-active
  background: rgba(218, 31, 57, 0.3)

.interest__arrow
  display: block
  margin: auto

.card__video-box
  width: 340px
  height: 415px
  position: relative

.video
  max-width: 100%
  background-image: url(./card-images/card-4-image.png)
  width: 340px
  height: 415px
  

.play-icon
  width: 70px
  height: 70px
  background:  rgba(255, 255, 255, 0.8)
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  position: absolute
  left: 50%
  margin-left: -35px
  top: 50%
  margin-top: -35px

.arrows-media
  display: none

.card-arrow
  display: none


.menu-dropp-down
  display: none
  

.menu-media
  display: none


@media (max-width: 768px)

  .arrows-media
    display: flex
    justify-content: flex-start
    cursor: pointer
    margin-top: 20px

  img
    max-width: 100%

  .container
    max-width: 100%
    padding: 0 10px

  .media-unvisible
    display: none

   
  .main-card
    ul
      padding: 0
      margin-bottom: 20px

  .main-card li:nth-of-type(1)
    display: none

  .main-card li:nth-of-type(2)
    display: none

  .main-card li:nth-of-type(3)
    display: flex
    

  .main-card li:nth-of-type(3)::before
    content: ''
    background: url(./card-images/media/scroll-left-media.svg)
    width: 20px
    height: 19px
    display: inline-block
    margin-right: 10px
    cursor: pointer

  .main-card li:nth-of-type(4)
    display: none

  .card__list-dash
    display: none

  .card__content 
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: auto auto auto
    gap: 20px

  .card__item:nth-of-type(1)
    grid-column: 1/ 4
    width: 100%
    


  .card__item:nth-of-type(2)
    grid-column: 1/2
    grid-row: 2/3
 
  .card__item:nth-of-type(3)
    grid-column: 2/3
    grid-row: 2/3
    justify-self: flex-end


  .card__item:nth-of-type(4)
    grid-column: 3/4
    grid-row: 2/3
    overflow: hidden


  .card__item:nth-of-type(5)
    display: none

  .card__item:nth-of-type(6)
    grid-column: 1/ span 3
    grid-row: 3/4
    padding-left: 0

  .card__text
    h2
      line-height: 26px
      width: 100%
      margin-bottom: 24px

  .card__minus
    width: 30px
    height: 30px

    div 
      width: 30px
      height: 30px
      align-items: center
     

  .card__plus 
    width: 30px
    height: 30px

    div
      width: 30px
      height: 30px
      align-items: center

  .card__btn 
    margin-bottom: 50px

  .card__heading-block 
    width: 100%

  .card__description 
    p:nth-of-type(1)
      width: 95%

  .border-top 
    width: 100%

  .interest 
    padding: 50px 0 0 0

  .header-cards
    padding-right: 0
    h2
      font-size: 18px
      line-height: 26px

    div
      display: none


 

  .media-card
    position: relative
    margin: 0 auto

    p:nth-of-type(1)
     width: 80%

  .card-arrow
    display: block

  .card-arrow:nth-of-type(1)
    transform: rotate(180deg)
    position: absolute
    bottom: 50%
    right: 0
    margin-right: -20px

  .card-arrow:nth-of-type(2)
    position: absolute
    bottom: 50%
    margin-left: -20px


  .menu-media
    background-color: #FFFFFF
    display: none
    z-index: 2
    position: absolute
    width: 85%
    padding: 8px 10px
    height: auto
   

    a
      text-decoration: none
      font-family: 'Dela Gothic One'
      font-weight: 400
      font-size: 18px
      line-height: 26px
      text-transform: uppercase
      color: $color-primary
      position: absolute
      z-index: 2
      
    ul
      list-style-type: none
      display: grid
      grid-template-columns: 1fr
      gap: 30px
     

    li
      margin-bottom: 30px

    a:hover
      color: $color-red

    a:hover:after
      content: ''
      background: url(./card-images/media/scroll-media.svg)
      width: 20px
      height: 20px
      display: inline-block
      cursor: pointer
      margin-left: 13px



  .menu-media__logo
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    height: 54px
    margin-bottom: 31px

    picture
      margin: 0 auto


  .close-menu
    cursor: pointer
    align-self: center

  .menu-media__language
    display: grid
    grid-template-columns: repeat(7, 1fr)
    +font(400, 16px, 19px, $color-primary)
    margin-top: 30px

  .menu-media__language
    div:hover
      +font(700, 16px, 19px, $color-primary)

  .header-wrapper
    &:hover
      .menu-media
        display: block
       

    &:hover
      .nav
        opacity: 0



@media (min-width: 769px) and (max-width: 992px)


  .container
    max-width: 100%
    padding: 0 10px


  .card__content 
    grid-template-columns: repeat(4, 25%)
    grid-auto-rows: auto
    gap: 10px

  .card__item:nth-of-type(1)
    grid-row: 1/2
    width: 100%

    img
      max-width: 100%

  .card__item:nth-of-type(2)
    grid-row: 2/3

    img
      max-width: 100%
 
  .card__item:nth-of-type(3)
    grid-row: 2/3

    img
      max-width: 100%

  .card__item:nth-of-type(4)
    grid-row: 3/4

    img
      max-width: 100%

  .card__item:nth-of-type(5)
    grid-row: 3/4

    img
      max-width: 100%
   

  .card__item:nth-of-type(6)
    grid-row: 1/5
    padding-left: 50px

  .video 
    width: 100%
    height: 99%

  .card__video-box 
    width: 100%
    height: auto

  .card__text
    h2
      width: 90%

  .card__heading-block
    width: 90%

  .card__description 
    p:nth-of-type(1)
      width: 90%

  .border-top
     width: 90%

  .interest 
    padding: 50px 0 0 30px

    .cards
      gap: 20px

  .header-cards 
    h2
      font-size: 24px
      line-height: 1.2


  .interest__card:nth-of-type(2)
    display: block


  .interest__card:nth-of-type(4)
    display: none
    

  .interest__card:nth-of-type(3)
    display: block
    overflow: hidden

    p
      white-space: nowrap
      overflow: hidden
      text-overflow: clip


@media (min-width: 993px) and (max-width: 1200px)


  .card__text
    h2
      width: 90%

  .card__heading-block
    width: 90%

  .card__description 
    p:nth-of-type(1)
      width: 90%

  .border-top
     width: 90%

  .card__content 
    grid-template-columns: repeat(4, 25%)
    grid-auto-rows: auto
    gap: 10px

  .card__item:nth-of-type(1) 
    width: 100%

  .card__item:nth-of-type(1)
    grid-row: 1/2
    width: 100%

    img
      max-width: 100%

  .card__item:nth-of-type(2)
    grid-row: 2/3

    img
      max-width: 100%
 
  .card__item:nth-of-type(3)
    grid-row: 2/3

    img
      max-width: 100%

  .card__item:nth-of-type(4)
    grid-row: 3/4

    img
      max-width: 100%

  .card__item:nth-of-type(5)
    grid-row: 3/4

    img
      max-width: 100%
   

  .card__item:nth-of-type(6)
    grid-row: 1/5
    padding-left: 50px

  .video 
    width: 100%
    height: 99%

  .card__video-box 
    width: 100%
    height: auto


  .interest__card:nth-of-type(3)
    overflow: hidden

    p:nth-of-type(1)
      white-space: nowrap
      overflow: hidden
      text-overflow: clip

  .interest__card:nth-of-type(4)
    display: none



@media (min-width: 993px)

  .menu-dropp-down
    opacity: 0
    height: 318px
    display: grid
    grid-template-columns: repeat(5, 1fr)
    gap: 40px
    padding: 30px 80px
    z-index: 2
    position: absolute
    transition: all 400ms ease-in-out
    background-color: #FFFFFF

    ul
      list-style: none  

  @mixin hov
   .menu-dropp-down
     opacity: 1


  .header-wrapper
    &:hover
     +hov


  .list_main
    font-family: $font-title
    font-weight: 400
    font-size: 18px
    line-height: 26px
    text-transform: uppercase
    color: #9A9A9A
    li
      margin-bottom: 25px
      cursor: pointer
    li:hover
       color: $color-primary

  .drop-list
    +font(300, 14px, 166.19%, $color-primary)

    li
      margin-bottom: 18px
      cursor: pointer
      transition: all 200ms ease-in-out

    li:hover
      color: $color-red
      text-shadow: 0 0 0.65px #333, 0 0 0.65px #333


@media (min-width: 1500px)
  .container
    margin: 0 auto
    


  

  

    


  

   


   

    

      
  


  
   





 
  
 
    
   
  
  