@font-face {
  font-family: "Dela Gothic One";
  src: url(./fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.woff2) format(woff2);
  src: url(./fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.woff) format(woff);
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Bold.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-SemiBold.woff) format(woff);
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Regular.woff) format(woff);
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Light.woff) format(woff);
  font-weight: 300;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px 80px;
}
.nav a {
  text-decoration: none;
  color: #000000;
}
.nav li {
  list-style: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  align-self: center;
}

.nav__content {
  display: flex;
}
.nav__content li {
  margin-right: 30px;
}
.nav__content a {
  transition: all 200ms ease-in-out;
}
.nav__content a:hover {
  color: #DA1F39;
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}
.nav__list li {
  justify-self: flex-end;
}
.nav__list li:nth-child(-n+3) {
  margin-right: 20px;
}
.nav__list li:nth-child(4n) {
  margin-right: 10px;
  cursor: pointer;
}
.nav__list li:nth-child(5n) {
  position: relative;
  cursor: pointer;
}

.nav__item::after {
  content: "";
  width: 5px;
  height: 5px;
  margin: 5px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: rotate(45deg);
  cursor: pointer;
}

.nav__logo-content {
  justify-self: center;
}

.nav__item {
  display: flex;
}

.nav__arrow-icon {
  align-self: center;
  cursor: pointer;
  margin-left: 5px;
}

.badge {
  background: #DA1F39;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3px;
  right: -5px;
}

.badge__number {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #EFEFEF;
  font-family: "Roboto";
}

summary {
  list-style: none;
  margin-bottom: 5px;
}

summary::-webkit-details-marker {
  display: none;
}

details {
  display: inline !important;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  cursor: pointer;
}
details div {
  margin-bottom: 5px;
  cursor: pointer;
}
details div:hover {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #DA1F39;
}
details summary {
  display: flex;
  margin-right: 5px;
}
details summary::after {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  margin: 5px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: rotate(45deg);
  cursor: pointer;
}
details summary:hover {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #DA1F39;
}

.details-lang {
  align-self: center;
  position: relative;
}

details[open] div {
  position: absolute;
}
details[open] div:nth-child(3) {
  top: 50px;
}

.details-cur {
  align-self: center;
  position: relative;
}
.details-cur svg:hover path {
  fill: #DA1F39;
  stroke-width: 4;
}/*# sourceMappingURL=menu.css.map */