@font-face {
  font-family: "Dela Gothic One";
  src: url(./fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.woff2) format(woff2);
  src: url(./fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.woff) format(woff);
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Bold.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-SemiBold.woff) format(woff);
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Regular.woff) format(woff);
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Light.woff) format(woff);
  font-weight: 300;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.hero__content h1 {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
  color: #EFEFEF;
}

.capsuls__text h2, .header-cards h2, .hero__block h2 {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 36px;
  line-height: 140.3%;
  text-transform: uppercase;
  color: #000000;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px 80px;
}
.nav a {
  text-decoration: none;
  color: #000000;
}
.nav li {
  list-style: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  align-self: center;
}

.nav__content {
  display: flex;
}
.nav__content li {
  margin-right: 30px;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}
.nav__list li {
  justify-self: flex-end;
}
.nav__list li:nth-child(-n+3) {
  margin-right: 20px;
}
.nav__list li:nth-child(4n) {
  margin-right: 10px;
  cursor: pointer;
}
.nav__list li:nth-child(5n) {
  position: relative;
  cursor: pointer;
}

.nav__logo-content {
  justify-self: center;
}

.nav__item {
  display: flex;
}

.nav__arrow-icon {
  align-self: center;
  cursor: pointer;
  margin-left: 5px;
}

.badge {
  background: #DA1F39;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3px;
  right: -5px;
}

.badge__number {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #EFEFEF;
  font-family: "Roboto";
}

.hero {
  padding: 43px 92px 0 68px;
}

.hero__content {
  background-image: url(./images/hero-main-image.png), linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  height: 551px;
  padding: 155px 0 0 88px;
  position: relative;
}
.hero__content h1 {
  width: 715px;
  margin-bottom: 10px;
}
.hero__content p {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #EFEFEF;
  margin-bottom: 50px;
}

.btn {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #EFEFEF;
  letter-spacing: 0.05em;
  padding: 17px 27.5px;
  background-color: #DA1F39;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.hero__scroll {
  position: absolute;
  bottom: -44px;
  right: 50%;
  cursor: pointer;
}

.block_flex {
  display: flex;
  justify-content: center;
  padding: 87px 0 128px 0;
}

.hero__block {
  width: 846px;
  height: 420px;
  position: relative;
}
.hero__block h2 {
  z-index: 1;
  text-align: center;
  padding-top: 65px;
}
.hero__block h2 .span_w-b {
  background: linear-gradient(to left, black 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__block h2 .span_w {
  color: #EFEFEF;
}

.hero__image-up {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.hero__image-down {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.new-arrivals {
  padding: 0 80px 128px 80px;
}

.header-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.header-cards img {
  cursor: pointer;
}
.header-cards div {
  align-self: center;
}

.arrow-right {
  transform: rotate(180deg);
  margin-left: 20px;
}

.cards {
  display: flex;
  gap: 50px;
}
.cards img {
  margin-bottom: 10px;
}

.cards__price {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-right: 10px;
}

.description {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 10px;
}

.new-arrivals__card:nth-of-type(2) div {
  background-image: url(./images/new-arrivals/card-2-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 323px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.capsuls {
  background-image: url(./images/capsuls/capsuls-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.capsuls__content {
  padding: 80px 80px 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.capsuls__text {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.capsuls__text p:nth-of-type(1) {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #939694;
  text-transform: uppercase;
}
.capsuls__text h2 {
  width: 410px;
  text-align: center;
  margin-bottom: 30px;
}
.capsuls__text p:nth-of-type(2) {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  text-align: center;
  width: 320px;
  margin-bottom: 50px;
}

.capsuls__btn {
  padding: 17px 53px;
}

.discount {
  padding: 210px 80px 141px 80px;
}

.discount__block {
  background-image: url(./images/discount/card-3-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 323px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.discount__description {
  margin-bottom: 30px;
}

.discount__text {
  display: flex;
  align-items: center;
}
.discount__text p:nth-of-type(2) {
  color: #939694;
  text-decoration: line-through;
}

.discount__price {
  color: #DA1F39;
}

.philosophy {
  padding-right: 217px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 128px;
}

.philosophy__content {
  background-image: url(./images/philosophy/philosophy-background.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 635px;
}

.philosophy__text {
  width: 493px;
  padding-top: 115px;
}/*# sourceMappingURL=style.css.map */