@font-face
  font-family: 'Dela Gothic One'
  src: url(./fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.woff2) format(woff2)
  src: url(./fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.woff) format(woff)
  font-weight: 400

@font-face
  font-family: 'Raleway'
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Bold.woff) format(woff)
  font-weight: 700

@font-face
  font-family: 'Raleway'
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-SemiBold.woff) format(woff)
  font-weight: 600

@font-face
  font-family: 'Raleway'
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Regular.woff) format(woff)
  
  font-weight: 400

@font-face
  font-family: 'Raleway'
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Light.woff) format(woff)
  font-weight: 300


*
  box-sizing: border-box
  margin: 0
  padding: 0

h1, h2, h3, p
  margin: 0
  padding: 0

$font-title: 'Dela Gothic One'
$font-text: 'Raleway'
$color-primary: #000000
$color-secondary: #EFEFEF
$color-red: #DA1F39

%font-main-heading
  font-family: 'Dela Gothic One'
  font-weight: 400
  font-size: 64px
  line-height: 72px
  text-transform: uppercase
  color: $color-secondary


%font-heading
  font-family: 'Dela Gothic One'
  font-weight: 400
  font-size: 36px
  line-height: 140.3%
  text-transform: uppercase
  color: $color-primary

@mixin font($font-weight, $font-size, $line-height, $color)
  font-family: 'Raleway'
  font-weight: $font-weight
  font-size: $font-size
  line-height: $line-height
  font-feature-settings: 'pnum' on, 'lnum' on
  color: $color
  

.nav
  display: grid
  grid-template-columns: repeat(3, 1fr)
  padding: 25px 80px

  a
    text-decoration: none
    color: $color-primary

  li
    list-style: none
    +font(400, 16px, 19px, $color-primary)
    align-self: center

.nav__content
  display: flex

  li
    margin-right: 30px

.nav__list
  display: flex
  justify-content: flex-end
  
  li
    justify-self: flex-end

  li:nth-child(-n+3)
    margin-right: 20px

  li:nth-child(4n)
    margin-right: 10px
    cursor: pointer

  li:nth-child(5n)
    position: relative
    cursor: pointer


.nav__logo-content
  justify-self: center


.nav__item 
  display: flex

.nav__arrow-icon
  align-self: center
  cursor: pointer
  margin-left: 5px

.badge
  background: #DA1F39
  width: 12px
  height: 12px
  border-radius: 50%
  display: flex
  justify-content: center
  position: absolute
  bottom: 3px
  right: -5px

.badge__number
  +font(400, 10px, 12px, $color-secondary)
  font-family: 'Roboto'

.hero
  padding: 43px 92px 0 68px
    

.hero__content
  background-image: url(./images/hero-main-image.png), linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%)
  background-size: cover
  height: 551px
  padding: 155px 0 0 88px
  position: relative

  h1
    @extend %font-main-heading
    width: 715px
    margin-bottom: 10px

  p
    +font(600, 16px, 19px, $color-secondary)
    margin-bottom: 50px

.btn
    +font(600, 14px, 16px, $color-secondary)
    letter-spacing: 0.05em
    padding: 17px 27.5px
    background-color: $color-red
    border: none
    cursor: pointer
    text-transform: uppercase

.hero__scroll
   position: absolute
   bottom: -44px
   right: 50%
   cursor: pointer

.block_flex
  display: flex
  justify-content: center
  padding: 87px 0 128px 0

.hero__block
  width: 846px
  height: 420px
  position: relative
  

  h2
    @extend %font-heading
    z-index: 1
    text-align: center
    padding-top: 65px
   
 

.span_w-b
  background: linear-gradient(to left, black 50%, white 50%)
  background-clip: text
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.span_w
  color: $color-secondary
    

.hero__image-up
  position: absolute
  top: 0
  left: 0
  z-index: -2

.hero__image-down
  position: absolute
  bottom: 0
  right: 0
  z-index: -2


.new-arrivals
  padding: 0 80px 128px 80px

.header-cards
  display: flex
  justify-content: space-between
  margin-bottom: 40px

  h2
    @extend %font-heading
    

  img
    cursor: pointer

  div
    align-self: center

.arrow-right
  transform: rotate(180deg)
  margin-left: 20px

.cards
  display: flex
  gap: 50px

  img
    margin-bottom: 10px

.cards__price
  +font(700, 14px, 166.19%, $color-primary)
  margin-right: 10px

.description
  +font(300, 14px, 166.19%, $color-primary)
  margin-bottom: 10px



.new-arrivals__card:nth-of-type(2) 
  div
    background-image: url(./images/new-arrivals/card-2-background.png)
    background-repeat: no-repeat
    background-size: cover
    width: 323px
    height: 400px
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 10px

.capsuls
  background-image: url(./images/capsuls/capsuls-background.png)
  background-repeat: no-repeat
  background-size: cover
  height: 650px

.capsuls__content
  padding: 80px 80px 0 80px
  display: grid
  grid-template-columns: 1fr 1fr
  
.capsuls__text
  background-color: #FFFFFF
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  p:nth-of-type(1)
    +font(400, 14px, 16px, #939694)
    text-transform: uppercase
    
  h2
    @extend %font-heading
    width: 410px
    text-align: center
    margin-bottom: 30px

  p:nth-of-type(2)
    +font(300, 14px, 166.19%, $color-primary)
    text-align: center
    width: 320px
    margin-bottom: 50px

.capsuls__btn
  padding: 17px 53px

.discount
  padding: 210px 80px 141px 80px

.discount__block
  background-image: url(./images/discount/card-3-background.png)
  background-repeat: no-repeat
  background-size: cover
  width: 323px
  height: 400px
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 10px

.discount__description
    margin-bottom: 30px


.discount__text
    display: flex
    align-items: center

    p:nth-of-type(2)
      color: #939694
      text-decoration: line-through

.discount__price
    color: $color-red

.philosophy
  padding-right: 217px
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 128px

.philosophy__content
  background-image: url(./images/philosophy/philosophy-background.png)
  background-repeat: no-repeat
  display: flex
  align-items: flex-end
  justify-content: flex-end
  height: 635px

.philosophy__text
  width: 493px
  padding-top: 115px

  p:nth-of-type(1)
     +font(400, 14px, 16px, #939694)
     text-transform: uppercase

  h2
    @extend %font-heading
    margin-bottom: 30px

  p:nth-of-type(2)
    +font(300, 14px, 166.19%, $color-primary)
    margin-bottom: 30px
  
  p:nth-of-type(3)
    +font(300, 14px, 166.19%, $color-primary)
    margin-bottom: 30px

  a
    +font(600, 14px, 16px, $color-red)
    letter-spacing: 0.05em
    text-transform: uppercase
    text-decoration: none
    display: block

.central_flex
   display: flex
   justify-content: center
   padding: 100px

.central-block
   width: 957px
   height: 414px
   position: relative

   h2
    @extend %font-heading
    text-align: center
    z-index: 1
    padding-top: 102px
    padding-right: 106px

.central-block__image-down
   position: absolute
   z-index: -2
   bottom: 0
   left: -3px

.central-block__image-up
   position: absolute
   z-index: -2
   top: 0
   right: 0


.drabyna
  background-image: url(./images/drabyna/drabyna-1-image.png)
  background-repeat: no-repeat
  background-size: cover
  height: 630px
  display: flex
  justify-content: center
  align-items: flex-end

.drabyna__content
  background-image: url(./images/drabyna/drabyna-2-image.png)
  background-repeat: no-repeat
  background-size: cover
  width: 1280px
  height: 630px
  margin-bottom: -80px
  
  

.drabyna__text
  background-color: #FFFFFF
  width: 523px
  height: 550px
  padding: 109px 89px 81px 89px
  text-align: center

  p:nth-of-type(1)
    +font(400, 14px, 16px, #939694)
    text-transform: uppercase
    
  h2
    @extend %font-heading
    margin-bottom: 20px

  p:nth-of-type(2)
    +font(300, 14px, 166.19%, $color-primary)
    margin-bottom: 10px

  p:nth-of-type(3)
    +font(300, 14px, 166.19%, $color-primary)
    margin-bottom: 50px


.address
  padding: 210px 0 0 80px
  display: grid
  grid-template-columns: 1fr 1fr

.address__text
  padding-top: 112px 

  h2
    @extend %font-heading
    width: 70%
    margin-bottom: 31px

  p
    +font(300, 14px, 136.19%, $color-primary)

 

.address__flex
  display: flex

  img
    width: 21px
    height: 21px
    margin-right: 10px

.address__flex:nth-of-type(1)
  p
    margin-bottom: 32px
    


.address__content
  background-image: url(./images/address/address-2-image.png)
  background-repeat: no-repeat
  background-size: cover
  height: 532px
  display: flex
  align-items: center

  img
    margin-left: -108px

  
  
  

 
    
    
   



    

  


