@font-face {
  font-family: "Dela Gothic One";
  src: url(./fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.woff2) format(woff2);
  src: url(./fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.woff) format(woff);
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Bold.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-SemiBold.woff) format(woff);
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Regular.woff) format(woff);
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/RalewayFont/RalewayFont/Raleway-Light.woff) format(woff);
  font-weight: 300;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.hero__content h1 {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
  color: #EFEFEF;
}

.pre-footer h2, .address__text h2, .drabyna__text h2, .central-block h2, .philosophy__text h2, .capsuls__text h2, .header-cards h2, .hero__block h2 {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 36px;
  line-height: 140.3%;
  text-transform: uppercase;
  color: #000000;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px 80px;
}
.nav a {
  text-decoration: none;
  color: #000000;
}
.nav li {
  list-style: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  align-self: center;
}

.nav__content {
  display: flex;
}
.nav__content li {
  margin-right: 30px;
}
.nav__content a {
  transition: all 200ms ease-in-out;
}
.nav__content a:hover {
  color: #DA1F39;
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}
.nav__list li {
  justify-self: flex-end;
}
.nav__list li:nth-child(-n+3) {
  margin-right: 20px;
}
.nav__list li:nth-child(4n) {
  margin-right: 10px;
  cursor: pointer;
}
.nav__list li:nth-child(5n) {
  position: relative;
  cursor: pointer;
}

.nav__item::after {
  content: "";
  width: 5px;
  height: 5px;
  margin: 5px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: rotate(45deg);
  cursor: pointer;
}

.nav__logo-content {
  justify-self: center;
}

.nav__item {
  display: flex;
}

.nav__arrow-icon {
  align-self: center;
  cursor: pointer;
  margin-left: 5px;
}

.badge {
  background: #DA1F39;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3px;
  right: -5px;
}

.badge__number {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #EFEFEF;
  font-family: "Roboto";
}

.hero {
  padding: 43px 92px 0 68px;
}

.hero__content {
  background-image: url(./images/hero-main-image.png), linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  height: 551px;
  padding: 155px 0 0 88px;
  position: relative;
}
.hero__content h1 {
  width: 715px;
  margin-bottom: 10px;
}
.hero__content p {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #EFEFEF;
  margin-bottom: 50px;
}

.btn {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #EFEFEF;
  letter-spacing: 0.05em;
  padding: 17px 27.5px;
  background-color: #DA1F39;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.hero__scroll {
  position: absolute;
  bottom: -44px;
  right: 50%;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.animated {
  animation: bounce 2s ease-in-out;
  animation-iteration-count: infinite;
}

.hero__block {
  background-image: url(./images/hero-image-1.png), url(./images/hero-image-2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  width: 846px;
  height: 420px;
  margin: 87px auto 128px;
}
.hero__block h2 {
  text-align: center;
  padding-top: 65px;
}

.span_w-b {
  background: linear-gradient(to left, black 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.span_w {
  color: #EFEFEF;
}

.new-arrivals {
  padding: 0 0 128px 80px;
}

.header-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-right: 80px;
}
.header-cards img {
  cursor: pointer;
}
.header-cards div {
  align-self: center;
}

.arrow-right {
  transform: rotate(180deg);
  margin-left: 20px;
}

.cards {
  display: flex;
  gap: 50px;
}
.cards img {
  margin-bottom: 10px;
}

.cards__price {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-right: 10px;
}

.description {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 10px;
}

.new-arrivals__card:nth-of-type(2) div {
  background-image: url(./images/new-arrivals/card-2-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 323px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.new-arrivals__card:nth-of-type(4) {
  overflow: hidden;
}
.new-arrivals__card:nth-of-type(4) p:nth-of-type(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.capsuls {
  background-image: url(./images/capsuls/capsuls-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.capsuls__content {
  padding: 80px 80px 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.capsuls__text {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.capsuls__text p:nth-of-type(1) {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #939694;
  text-transform: uppercase;
}
.capsuls__text h2 {
  width: 410px;
  text-align: center;
  margin-bottom: 30px;
}
.capsuls__text p:nth-of-type(2) {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  text-align: center;
  width: 320px;
  margin-bottom: 50px;
}

.capsuls__btn {
  padding: 17px 53px;
}

.discount {
  padding: 210px 0 141px 80px;
}

.discount__block {
  background-image: url(./images/discount/card-3-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 323px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.discount__description {
  margin-bottom: 30px;
}

.discount__text {
  display: flex;
  align-items: center;
}
.discount__text p:nth-of-type(2) {
  color: #939694;
  text-decoration: line-through;
}

.discount__price {
  color: #DA1F39;
}

.discount__card:nth-of-type(4) {
  overflow: hidden;
}
.discount__card:nth-of-type(4) p:nth-of-type(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.philosophy {
  padding-right: 128px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 128px;
}

.philosophy__content {
  background-image: url(./images/philosophy/philosophy-background.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 635px;
}

.philosophy__text {
  width: 493px;
  padding-top: 115px;
}
.philosophy__text p:nth-of-type(1) {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #939694;
  text-transform: uppercase;
}
.philosophy__text h2 {
  margin-bottom: 30px;
}
.philosophy__text p:nth-of-type(2) {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 30px;
}
.philosophy__text p:nth-of-type(3) {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 30px;
}
.philosophy__text a {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #DA1F39;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.central-block {
  background-image: url(./images/central-block/central-1-image.png), url(./images/central-block/central-2-image.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right top;
  width: 957px;
  height: 414px;
  margin: 100px auto;
}
.central-block h2 {
  text-align: center;
  padding-top: 102px;
  padding-right: 106px;
}

.drabyna {
  background-image: url(./images/drabyna/drabyna-1-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.drabyna__content {
  background-image: url(./images/drabyna/drabyna-2-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1280px;
  height: 630px;
  margin-bottom: -80px;
}

.drabyna__text {
  background-color: #FFFFFF;
  width: 523px;
  height: 550px;
  padding: 109px 89px 81px 89px;
  text-align: center;
}
.drabyna__text p:nth-of-type(1) {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #939694;
  text-transform: uppercase;
}
.drabyna__text h2 {
  margin-bottom: 20px;
}
.drabyna__text p:nth-of-type(2) {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 10px;
}
.drabyna__text p:nth-of-type(3) {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  line-height: 166.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-bottom: 50px;
}

.address {
  padding: 210px 0 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.address__text {
  padding-top: 112px;
}
.address__text h2 {
  width: 70%;
  margin-bottom: 31px;
}
.address__text p {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  line-height: 136.19%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.address__text a {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #DA1F39;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.address__flex {
  display: flex;
}
.address__flex img {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}

.address__flex:nth-of-type(1) p {
  margin-bottom: 32px;
}

.address__flex:nth-of-type(2) p:nth-of-type(1) {
  margin-bottom: 10px;
}
.address__flex:nth-of-type(2) p:nth-of-type(2) {
  margin-bottom: 50px;
}

.address__content {
  background-image: url(./images/address/address-2-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 532px;
  display: flex;
  align-items: center;
}
.address__content img {
  margin-left: -108px;
}

.pre-footer {
  text-align: center;
  padding: 130px 80px;
}
.pre-footer p:nth-of-type(1) {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #939694;
  text-transform: uppercase;
}
.pre-footer p:nth-of-type(2) {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  line-height: 162.69%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  width: 355px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.pre-footer h2 {
  margin-bottom: 10px;
}

.pre-footer__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 52px;
}

.pre-footer__arrow {
  transition: 300ms all ease-in;
  margin-top: 90px;
}

.animated_up {
  animation: bounce 2s ease-in-out;
  animation-iteration-count: infinite;
}

.card-arrow {
  display: none;
}

.capsuls-media {
  display: none;
}

.drabyna-media {
  display: none;
}

@media (max-width: 768px) {
  img {
    max-width: 100%;
  }
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .media-unvisible {
    display: none;
  }
  .nav {
    padding: 8px 10px;
  }
  .nav__content::after {
    content: "";
    background: url(./card-images/media/burger-icon-media.svg);
    width: 20px;
    height: 9px;
    display: inline-block;
    cursor: pointer;
    align-self: center;
  }
  .nav__logo-content {
    grid-column: 2/3;
  }
  .nav__list {
    grid-column: 3/4;
  }
  .nav__list li:nth-child(4n) {
    margin-right: 15px;
  }
  .hero {
    padding: 0;
  }
  .hero__content {
    padding: 140px 0 0 15px;
    background-image: url(./images/media/hero-main-media.png), linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    background-size: cover;
    background-position: center;
  }
  .hero__content h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 112.3%;
    width: 67%;
    margin-bottom: 5px;
  }
  .hero__content p {
    margin-bottom: 30px;
  }
  .hero__block {
    background-image: url(./images/media/hero-media-1.png), url(./images/media/hero-media-2.png);
    background-position: left 25px top, right 25px bottom;
    width: 100%;
    height: 100%;
    margin: 50px auto;
  }
  .hero__block h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 140.3%;
    padding-top: 69px;
  }
  .new-arrivals {
    padding: 0 0 50px 0;
  }
  .header-cards {
    margin-bottom: 20px;
  }
  .header-cards h2 {
    font-size: 18px;
  }
  .header-cards img {
    display: none;
  }
  .media-card {
    position: relative;
    margin: 0 auto;
  }
  .new-arrivals__card:nth-of-type(4) {
    overflow: visible;
  }
  .card-arrow {
    display: block;
  }
  .card-arrow:nth-of-type(1) {
    transform: rotate(180deg);
    position: absolute;
    bottom: 50%;
    right: 0;
    margin-right: -20px;
  }
  .card-arrow:nth-of-type(2) {
    position: absolute;
    bottom: 50%;
    margin-left: -20px;
  }
  .new-arrivals__card:nth-of-type(4) p:nth-of-type(1) {
    white-space: normal;
    overflow: visible;
    text-overflow: visible;
    margin-bottom: 5px;
    width: 85%;
  }
  .capsuls__content {
    padding: 21px 10px 0 10px;
  }
  .capsuls__content img {
    height: 100%;
  }
  .capsuls {
    background-image: url(./images/media/capsuls-bg-media.png);
    height: 240px;
  }
  .capsuls__text {
    width: 100%;
    margin-right: -1px;
  }
  .capsuls__text h2 {
    font-size: 18px;
    width: 203px;
    padding: 0 5px;
  }
  .capsuls__text p:nth-of-type(1) {
    font-size: 10px;
    line-height: 12px;
  }
  .capsuls-media {
    display: block;
    text-align: center;
    padding: 40px 26px 50px 26px;
  }
  .capsuls-media p {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 14px;
    line-height: 166.19%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    margin-bottom: 20px;
  }
  .discount {
    padding: 0 0 50px 0;
  }
  .discount__description {
    margin-bottom: 5px;
  }
  .philosophy {
    padding-right: 0;
    grid-template-columns: 1fr;
    gap: 58px;
  }
  .philosophy__content {
    background-image: url(./images/media/philosophy-bg-media.png);
    height: 221px;
  }
  .philosophy__content picture {
    margin-bottom: -28px;
    margin-right: 65px;
  }
  .philosophy__text {
    width: 100%;
    padding-top: 0;
  }
  .philosophy__text h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .philosophy__text p:nth-of-type(1) {
    font-size: 10px;
    line-height: 12px;
  }
  .philosophy__text p:nth-of-type(3) {
    margin-bottom: 20px;
  }
  .central-block {
    background-image: url(./images/media/central-1-media.png), url(./images/media/central-2-media.png);
    width: 100%;
    height: 187px;
    margin: 50px auto;
  }
  .central-block h2 {
    font-size: 18px;
    padding: 33px 6px 0 6px;
  }
  .drabyna {
    background-image: url(./images/media/drabyna-1-media.png);
    height: 179px;
  }
  .drabyna__content {
    width: 95%;
    height: 180px;
    margin-bottom: -20px;
  }
  .drabyna__text {
    width: 178px;
    height: 160px;
    padding: 60px 0 0 0;
  }
  .drabyna__text p:nth-of-type(1) {
    font-size: 10px;
    line-height: 12px;
  }
  .drabyna__text h2 {
    font-size: 18px;
  }
  .drabyna__text p:nth-of-type(2) {
    display: none;
  }
  .drabyna__text p:nth-of-type(3) {
    display: none;
  }
  .drabyna__text button {
    display: none;
  }
  .drabyna-media {
    display: block;
    text-align: center;
    padding: 40px 15px 50px 15px;
  }
  .drabyna-media p {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 14px;
    line-height: 166.19%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    margin-bottom: 20px;
  }
  .drabyna-media button {
    padding: 17px 33px;
  }
  .address {
    padding: 0;
    grid-template-columns: 1fr;
  }
  .address__text {
    order: 2;
    padding-top: 0;
  }
  .address__text h2 {
    font-size: 18px;
    width: 85%;
    margin-bottom: 20px;
  }
  .address__text p {
    line-height: 166.19%;
  }
  .span_w {
    color: #000000;
  }
  .span_w-b {
    background: none;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #000000;
  }
  .address__content {
    background-image: url(./images/media/address-2-media.png);
    height: 229px;
    margin-left: 47px;
    margin-bottom: 20px;
  }
  .address__content img {
    margin-left: -47px;
  }
  .address__flex:nth-of-type(1) p {
    margin-bottom: 9px;
  }
  .address__flex:nth-of-type(2) p:nth-of-type(1) {
    margin-bottom: 5px;
  }
  .address__flex:nth-of-type(2) p:nth-of-type(2) {
    margin-bottom: 20px;
  }
  .pre-footer {
    padding: 50px 0;
  }
  .pre-footer p:nth-of-type(1) {
    font-size: 10px;
    line-height: 12px;
  }
  .pre-footer h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .pre-footer p:nth-of-type(2) {
    width: 90%;
    margin-bottom: 20px;
  }
  .pre-footer__cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 425px) and (max-width: 578px) {
  .philosophy__content {
    background-image: url(./images/philosophy/philosophy-background.png);
    background-position: center;
    height: 300px;
  }
  .drabyna {
    height: 250px;
  }
  .drabyna__content {
    height: 90%;
  }
  .address__content {
    background-image: url(./images/address/address-2-image.png);
  }
}
@media (min-width: 578px) {
  .philosophy__content {
    background-image: url(./images/philosophy/philosophy-background.png);
    background-position: center;
  }
}
@media (min-width: 578px) and (max-width: 768px) {
  .capsuls {
    height: 300px;
  }
  .capsuls-media {
    display: block;
    padding: 110px 26px 50px 26px;
  }
  .drabyna {
    background-image: url(./images/drabyna/drabyna-1-image.png);
    height: 300px;
  }
  .drabyna__content {
    background-image: url(./images/drabyna/drabyna-2-image.png);
    background-position: center;
    width: 90%;
    height: 90%;
    margin-bottom: -40px;
  }
  .drabyna-media {
    padding: 80px 15px 50px 15px;
  }
  .address__content {
    background-image: url(./images/address/address-2-image.png);
    height: 532px;
  }
  .pre-footer__cards div:nth-child(1) {
    justify-self: flex-end;
  }
  .pre-footer__cards div:nth-child(3) {
    justify-self: flex-end;
  }
  .pre-footer__cards div:nth-child(2) {
    justify-self: flex-start;
  }
  .pre-footer__cards div:nth-child(4) {
    justify-self: flex-start;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .nav {
    grid-template-columns: 40% 20% 40%;
    padding: 25px 25px;
  }
  .nav__content li {
    margin-right: 10px;
  }
  .nav__list li:nth-child(3) a {
    display: none;
  }
  .nav__list li:nth-child(3)::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f095";
    font-size: large;
  }
  .hero {
    padding: 0;
  }
  .hero__content {
    background-position: center;
    padding: 80px 0 0 40px;
  }
  .hero__content h1 {
    font-size: 28px;
    width: 80%;
  }
  .hero__block {
    width: 100%;
    margin: 50px auto;
  }
  .span_w {
    color: #000000;
  }
  .span_w-b {
    background: none;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #000000;
  }
  .new-arrivals {
    padding: 0;
  }
  .new-arrivals__cards {
    overflow: hidden;
  }
  .capsuls__content {
    padding: 21px 10px 0 10px;
  }
  .capsuls__content img {
    max-width: 100%;
    height: 100%;
  }
  .capsuls {
    background-image: url(./images/media/capsuls-bg-media.png);
    height: 380px;
  }
  .capsuls__text {
    width: 100%;
    margin-right: -1px;
  }
  .capsuls__text h2 {
    font-size: 18px;
    width: 203px;
    padding: 0 5px;
  }
  .capsuls__text p:nth-of-type(1) {
    font-size: 10px;
    line-height: 12px;
  }
  .discount {
    padding: 150px 0 0 0;
    overflow: hidden;
  }
  .philosophy {
    padding-right: 0;
    gap: 20px;
  }
  .philosophy img {
    max-width: 100%;
  }
  .philosophy__text {
    width: 100%;
    padding-top: 40px;
  }
  .central-block {
    width: 100%;
  }
  .drabyna__content {
    background-position: right;
    width: 90%;
    height: 90%;
    margin-bottom: -40px;
  }
  .drabyna__text {
    width: 50%;
    height: 100%;
    padding: 50px;
  }
  .address {
    padding: 100px 0 0 40px;
  }
  .address__text h2 {
    font-size: 28px;
  }
  .address__content {
    height: 100%;
  }
  .address__content img {
    max-width: 100%;
    margin-left: -40px;
  }
  .pre-footer {
    padding: 50px 30px;
  }
  .pre-footer h2 {
    font-size: 28px;
  }
  .pre-footer__cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .pre-footer__cards div:nth-child(1) {
    justify-self: flex-end;
  }
  .pre-footer__cards div:nth-child(2) {
    justify-self: flex-start;
  }
  .pre-footer__cards div:nth-child(3) {
    justify-self: flex-end;
  }
  .pre-footer__cards div:nth-child(4) {
    justify-self: flex-start;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .nav {
    grid-template-columns: 40% 20% 40%;
    padding: 25px 25px;
  }
  .hero {
    padding: 43px 0 0 68px;
  }
  .new-arrivals {
    overflow: hidden;
  }
  .capsuls {
    height: 450px;
  }
  .capsuls__content img {
    max-width: 100%;
    height: 100%;
  }
  .discount {
    overflow: hidden;
  }
  .philosophy {
    padding-right: 0;
    gap: 40px;
  }
  .drabyna__content {
    background-position: right;
  }
  .address__content img {
    max-width: 100%;
  }
  .pre-footer img {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */